language: ruby
rvm:
  - 2.4.0 
cache: bundler
before_install:
  - openssl aes-256-cbc -K $encrypted_952e21a345db_key -iv $encrypted_952e21a345db_iv -in deploy_key.enc -out ~/.ssh/id_rsa -d
  - chmod 600 ~/.ssh/id_rsa
  - git config --global user.email "aki@aki017.info"
  - git config --global user.name "Auto Bot"
install:
  - wget https://github.com/git/git/raw/master/contrib/workdir/git-new-workdir
  - chmod a+x git-new-workdir
before_script:
  - git clone git@github.com:aki017/ss.aki017.info ss
  - cd ss && ../git-new-workdir . html gh-pages
script:
  - bundle exec ruby main.rb
  - bundle exec ruby generator.rb
after_script:
  - cd ss && git push origin master && git push origin gh-pages
